<h1>Places I've Been</h1>

<ul>
  <% @places.each do |place| %>
    <li>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
  <% end %>
</ul>

<p><a href="/places/new">New Place</a></p>